.cardContainer {
    padding: 16px 24px;
    background-color: var(--surface-color);
    box-shadow: var(--box-shadow-medium);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.itemInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    width: 30px;
    text-align: center;
}
