.orderButton {
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    border-radius: var(--border-radius);
    padding: 10px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--box-shadow-light);
    max-width: 150px;
    width: 100%;
    background-color: var(--primary-color-dark);
    color: var(--surface-color);
    border: 1px solid var(--primary-color-dark);
}

.orderButton:hover {
    opacity: 0.8;
}

.orderButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
