.itemContainer {
    display: flex;
    gap: 8px;
}

.quantityItemConnector {
    width: 1px;
    background-color: var(--border-color);
    margin-top: 4px;
    margin-bottom: 8px;
}

.itemInfoContainerWrapper {
    flex: 1;
}

.itemInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.itemInfo {
    display: flex;
    flex-direction: column;
}

.itemInfo > .itemName {
    font-size: 18px;
    font-weight: 500;
}

.itemInfo > .itemPrice {
    color: var(--text-color-secondary);
    font-size: 14px;
}

.quantity {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    width: 30px;
    text-align: center;
}
