.itemContainer {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.itemInfo > .itemName {
    font-size: 18px;
    font-weight: 500;
}

.itemInfo > .itemPrice {
    color: var(--text-color-secondary);
    font-size: 14px;
}

.connector {
    height: 1px;
    background-color: var(--border-color);
    flex: 1;
}

@media (max-width: 500px) {
    .connector {
        display: none;
    }
}
