.navigationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
}

.dot,
.activeDot {
    height: 10px;
    width: 10px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.activeDot {
    transform: scale(1.5);
}
