.selectionContainer {
    display: flex;
    flex-direction: column;
}

.tablesLabel {
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.tableSelection {
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    box-shadow: var(--box-shadow-light);
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--text-color);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    outline: none;
    max-width: 200px;
}

.tableSelection[value=''] {
    color: red;
}

.tableSelection option[value=''] {
    color: var(--text-color-secondary);
}

.tableSelection:hover {
    box-shadow: var(--box-shadow-medium);
}
