.orderContainer {
    display: flex;
    flex-direction: column;
}

.orderHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.totalPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noItemsText {
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    color: var(--text-color-secondary);
}

.totalPrice {
    line-height: 1.2;
}

.toastSuccess {
    color: var(--surface-color) !important;
    background-color: var(--success-color-dark) !important;
}

.toastSuccessProgress {
    background-color: var(--success-color-light) !important;
}

.toastError {
    color: var(--surface-color) !important;
    background-color: var(--error-color-dark) !important;
}

.toastErrorProgress {
    background-color: var(--error-color-light) !important;
}
